@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
$primary: #f25622;
$font-color: white;
$Grey: #828282;
$cursive: 'Parisienne';
$regular: 'Poppins';

body,
html {
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.navbar {
    padding: 0;
    font-family: $regular;
}

.hero {
    background-image: url("./Images/Cell-Hero.jpg");
    /* Set a specific height */
    height: 90vh;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    color: $font-color;
}

.signature {
    font-family: $cursive;
    font-size: 3rem;
}

.tagline {
    font-family: $regular;
    font-size: 1rem;
}

.countdown-timer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.countdown-timer {
    >div {
        >div {
            @extend .countdown-timer;
            font-family: $regular;
            gap: 0px;
        }
    }
}

.time {
    background-color: $primary;
    border-radius: 50%;
    width: 50px;
    min-height: 50px;
    font-weight: 900;

}

.text-section {
    @extend .countdown-timer;
    flex-direction: column;
    gap: 10px;
    font-family: $regular;
    padding-bottom: 50px;
}

.intro {
    @extend .signature;
    color: $primary;
    padding-top: 50px;
    font-weight: 900;
}

.date {
    font-weight: 700;
    font-size: 1.2rem;
}

.second-tagline {
    color: $Grey;
    font-size: 1rem;
    font-weight: 100;
    font-style: italic;
}

.paragraph {
    padding: 0px 20px;
    font-weight: 100;
}

.event-section {
    padding: 0;
    background-image: url("./Images/Cell-Luau.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.event-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    padding: 50px 0px;
    width: 100vw;

    >div {
        width: 300px;
        height: 400px;
        background-color: rgba(255, 255, 255, .55);
        color: $primary;
        font-family: $regular;
        display: flex;
        justify-content: center;
        padding: 15px;

    }
}

.footer {
    text-align: center;
    padding: 15px;
    color: $Grey;
    font-family: $regular;
}

@media (min-width: 500px) {
    .hero {
        background-image: url("./Images/Desktop-Hero.jpg");
    }

    .event-section {
        background-image: url("./Images/Desktop-Luau.JPG");
    }
}